{% extends "appointment/layout.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
            <div class="panel-default">
                <div class="panel-body">
			        <h3>Create a New Account</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post">
                        {% csrf_token %}
                        dddddddddddddd
                        {% include 'appointment/registration_form.html' %}
                        <table>
                        {{ form.as_table }}
                        </table>
                        <input type="submit" />
                    </form>
                </div>
            </div>
		</div>
	</div>
</div>

{% endblock %}